<!-- <div class="row">
  <div class="col-md-6">
    <ul class="nav cyan lighten-3 py-4 mb-r font-weight-bold z-depth-1">
      <li class="nav-item" *ngFor="let routeLink of routeLinks; let i = index" (click)="activeLinkIndex = i">
        <a class="nav-link indigo-text" [routerLink]="routeLink.link">{{routeLink.label}}</a>
      </li>
    </ul>
  </div>
</div> -->
<div class="btn-group" role="group" aria-label="Basic example">
  <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect *ngFor="let routeLink of routeLinks" [routerLink]="routeLink.link">
    {{routeLink.label}}
  </button>

</div>
<mdb-card>
  <router-outlet></router-outlet>
</mdb-card>